<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>viddlerBaseURL</key>
	<string>http://api.viddler.com</string>
	<key>baseURL</key>
	<string>http://nivo.stage.simple-task.com</string>
	<key>settingsURL</key>
	<string>http://nivo.stage.simple-task.com</string>
	<key>facebookGraphURL</key>
	<string>https://graph.facebook.com/%@</string>
	<key>urls</key>
	<dict>
		<key>getVideosByRate</key>
		<string>/wp-json/posts/byrating/%d</string>
		<key>getUserRatings</key>
		<string>/wp-json/users/%@/get_every_rate</string>
		<key>getVideosByDate</key>
		<string>/wp-json/posts/bydate/%d</string>
		<key>getPostsForLocation</key>
		<string>/wp-json/mapping</string>
		<key>getAlerts</key>
		<string>/wp-json/users/myalerts</string>
		<key>loginUserWithToken</key>
		<string>/wp-json/users/login_user?email=%@&amp;password=%@</string>
		<key>loginFacebookUser</key>
		<string>/wp-json/users/social_login</string>
		<key>getUserProfile</key>
		<string>/wp-json/users/%@/profile/</string>
		<key>loginUser</key>
		<string>/wp-json/users/auth/</string>
		<key>getAllCategories</key>
		<string>/wp-json/posts/types/videos/taxonomies/category/terms</string>
		<key>newPost</key>
		<string>/wp-json/posts/</string>
		<key>getPost</key>
		<string>/wp-json/posts/%@</string>
		<key>getPosts</key>
		<string>/wp-json/posts/?page=%@</string>
		<key>filterPosts</key>
		<string>/wp-json/posts/?filter[%@]=%@</string>
		<key>newUser</key>
		<string>/wp-json/users/</string>
		<key>getUser</key>
		<string>/wp-json/users/%@</string>
		<key>editUser</key>
		<string>/wp-json/users/%@</string>
		<key>getComments</key>
		<string>/wp-json/posts/%@/comments</string>
		<key>uploadMedia</key>
		<string>/wp-json/media</string>
		<key>getFollowers</key>
		<string>/wp-json/users/%@/followers</string>
		<key>getFollowing</key>
		<string>/wp-json/users/%@/following</string>
		<key>followUser</key>
		<string>/wp-json/users/follow/%@</string>
		<key>unfollowUser</key>
		<string>/wp-json/users/unfollow/%@</string>
		<key>getVideoRating</key>
		<string>/wp-json/posts/%@/allrating</string>
		<key>rateVideo</key>
		<string>/wp-json/posts/%@/rating</string>
		<key>getUserPoints</key>
		<string>/wp-json/users/%@/score</string>
		<key>addUserPoints</key>
		<string>/wp-json/users/%@/score</string>
		<key>newComment</key>
		<string>/wp-json/posts/%@/post_comment</string>
		<key>getSportCategories</key>
		<string>/wp-json/categories</string>
		<key>deleteUser</key>
		<string>/wp-json/users/%@/delete</string>
		<key>reportVideo</key>
		<string>/wp-json/posts/%@/report</string>
		<key>changePassword</key>
		<string>/wp-json/users/reset_password/</string>
		<key>forgotPassword</key>
		<string>/wp-json/users/forgot_password/</string>
		<key>settings</key>
		<string>/wp-json/settings</string>
	</dict>
	<key>viddlerUrls</key>
	<dict>
		<key>videoDetails</key>
		<string>/api/v2/viddler.videos.getDetails.json?sessionid=%@&amp;api_key=%@&amp;video_id=%@</string>
		<key>login</key>
		<string>/api/v2/viddler.users.auth.json?api_key=%@&amp;username=%@&amp;password=%@&amp;get_record_token=1</string>
		<key>prepareUpload</key>
		<string>/api/v2/viddler.videos.prepareUpload.json?api_key=%@&amp;sessionid=%@</string>
	</dict>
</dict>
</plist>
